* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
body {
    background-color: #2b2b2b;
    text-align: center;
}
#nav {
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: rgb(112, 224, 232);
}
.nav-item {
    margin: 0 2em;
    font-size: 1.8em;
    color: #2b2b2b;
    text-decoration: none;
}
.nav-item:hover {
    text-decoration: underline;
}
h1 {
    margin: 1em 0;
    font-size: 5em;
    color: rgb(201, 123, 216);
}
h2 {
    margin: 2em 0 1em;
    font-size: 3em;
    color: rgb(252, 82, 82);
}
h3 {
    margin: 1.3em 0 .7em;
    font-size: 1.8em;
    color: rgb(158, 157, 111);
}
p {
    margin: 1.3em 8em;
    font-size: 1.5em;
    color: rgb(140, 244, 132);
}