* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}
body {
    background-color: #2b2b2b;
    text-align: center;
}
h1 {
    margin: 20px 0;
    font-size: 3em;
    color: rgb(201, 123, 216);
}